<%- include('./partials/header'); %>
<div class="text-center">
  <h1>Mensagem do Dia</h1>
  <form action="/mensagem" method="GET">
    <button class="btn btn-primary mt-3" type="submit">Ver Mensagem</button>
  </form>
</div>
<%- include('./partials/footer'); %>
