<%- include('./partials/header'); %>
<div class="text-center">
  <h2>Mensagem do Dia</h2>
  <blockquote class="blockquote">
    <p class="mb-0"><%= quote %></p>
  </blockquote>
  <a href="/" class="btn btn-secondary mt-3">Voltar</a>
</div>
<%- include('./partials/footer'); %>
